<div class="table">
  <table>
    <thead>
      <tr>
        <th>Imię</th>
        <th>Wiek</th>
        <th>Pełnoetatowy</th>
        <th>Stanowisko</th>
        <th class="action-buttons"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeService.employees; let i = index">
        <td>
          <span
            *ngIf="!editMap[i].name; else editName"
            (click)="enableEdit(i, 'name')"
            >{{ employee.name }}</span
          >
          <ng-template #editName>
            <div class="table-edit-form">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="tempEditValue"
                required
              />
              <app-table-edit-buttons
                [employeeInd]="i"
                [field]="'name'"
                (saveEdit)="saveEdit(i, 'name')"
                (cancelEdit)="cancelEdit(i, 'name')"
              ></app-table-edit-buttons>
            </div>
          </ng-template>
        </td>
        <td>
          <span
            *ngIf="!editMap[i].age; else editAge"
            (click)="enableEdit(i, 'age')"
            >{{ employee.age }}</span
          >
          <ng-template #editAge>
            <div class="table-edit-form">
              <input
                type="number"
                class="form-control"
                [(ngModel)]="tempEditValue"
                required
                min="18"
              />
              <app-table-edit-buttons
                [employeeInd]="i"
                [field]="'name'"
                (saveEdit)="saveEdit(i, 'age')"
                (cancelEdit)="cancelEdit(i, 'age')"
              ></app-table-edit-buttons>
            </div>
          </ng-template>
        </td>
        <td>
          <span
            *ngIf="!editMap[i].isFullTime; else editIsFullTime"
            (click)="enableEdit(i, 'isFullTime')"
            >{{ employee.isFullTime ? "Tak" : "Nie" }}</span
          >
          <ng-template #editIsFullTime>
            <div class="table-edit-form">
              <input
                type="checkbox"
                class="form-control"
                [(ngModel)]="tempEditValue"
              />
              <app-table-edit-buttons
                [employeeInd]="i"
                [field]="'name'"
                (saveEdit)="saveEdit(i, 'isFullTime')"
                (cancelEdit)="cancelEdit(i, 'isFullTime')"
              ></app-table-edit-buttons>
            </div>
          </ng-template>
        </td>

        <td>
          <span
            *ngIf="!editMap[i].position; else editPosition"
            (click)="enableEdit(i, 'position')"
            >{{ positions[employee.position] }}</span
          >
          <ng-template #editPosition>
            <div class="table-edit-form">
              <select class="form-control" [(ngModel)]="tempEditValue">
                <option
                  *ngFor="let position of positions | keyvalue"
                  [value]="position.key"
                >
                  {{ position.value }}
                </option>
              </select>
              <app-table-edit-buttons
                [employeeInd]="i"
                [field]="'name'"
                (saveEdit)="saveEdit(i, 'position')"
                (cancelEdit)="cancelEdit(i, 'position')"
              ></app-table-edit-buttons>
            </div>
          </ng-template>
        </td>

        <td class="action-buttons">
          <button class="btn btn-primary btn-sm" (click)="editEmployee(i)">
            Edytuj
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteEmployee(i)">
            Usuń
          </button>
        </td>
      </tr>
      <tr *ngIf="employeeService.employees.length === 0">
        <td class="empty-table" colspan="5">
          Brak pracowników do wyświetlenia
        </td>
      </tr>
    </tbody>
  </table>
</div>
