@import "../../../styles/mixins";

.form-wrapper {
  position: relative;
  max-width: 100%;
  padding: 0 15px;
  margin: 30px auto 0;
  @include media-breakpoint-up(sm) {
    max-width: 500px;
    padding: 0;
  }
}
